
.collections-main {
  width: 95%;
  margin: auto;
  margin-top: 100px;
}

.collections-main-coll {
  display: inline-block;
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 15px;
  transition: box-shadow 0.25s ease-in-out 0s;
  border-radius: 10px;
  width: 270px;
  height: 385px;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.collections-main-coll:hover {
  box-shadow: rgb(0 0 0 / 15%) 0px 6px 25px;
  /* transition: all 0.1s ease 0s; */
}

.collections-main-coll a {
  display: block;
  height: 100%;
}

.collections-col-img-wrapper {
  background-color: rgba(229, 232, 235, 0.314);
  overflow: hidden;
  height: 270px;
}

img.collection-img {
  width: 100%;  
  transition: transform 0.4s ease 0s;
}

img.collection-img:hover {
  transform: scale(1.1);
}

.collection-info-wrapper {
  padding: 15px;
}

.collection-info-name{
  font-weight: 600;
  line-height: 20px;
  color: rgb(4, 17, 29);
  margin-top: 5px;
  margin-bottom: 15px;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}